@import '../../styles/colors.scss';

.favourite-button {
  width: 25px;
  height: 25px;
  color: $text-color-white;
  transition: color 0.2s ease-in-out, fill 0.2s ease-in-out;

  &:active {
    color: #fd547e;
  }

  &--selected {
    color: $text-color-pink;
  }
}