$background-color: #191926;
$secondary-background-color: #1e1e2b;
$primary-text-color: #85859e;
$border-color: #85859e78;
$text-color-white: #cecece;
$text-color-grey: #5d5d6f;
$text-color-pink: #ff3365;

:export {
  borderColor: $border-color;
  textColorPink: $text-color-pink;
  textColorWhite: $text-color-white;
}