@import './colors.scss';

html {
  padding: 0;
  margin: 0;
  font-family: 'Gilroy Light';
  overflow-y: hidden;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Gilroy Light';
  background-color: $background-color;
}

#__next {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy Light";
  font-weight: 200;
  src: local('Gilroy Light'),
    url('/fonts/Gilroy-Light.woff') format('woff'),
    url('/fonts/Gilroy-Light.woff2') format('woff2');
}

@font-face {
  font-family: "Okta Neue Normal";
  font-weight: 400;
  src: local('Okta Neue Normal'),
    url('/fonts/Okta-Neue-Normal.woff') format('woff'),
    url('/fonts/Okta-Neue-Normal.woff2') format('woff2');
}

@font-face {
  font-family: "Okta Neue Bold";
  font-weight: 800;
  src: local('Okta Neue Bold'),
    url('/fonts/Okta-Neue-Bold.woff') format('woff'),
    url('/fonts/Okta-Neue-Bold.woff2') format('woff2');
}