@import './colors.scss';

html {
  padding: 0;
  margin: 0;
  font-family: 'Gilroy Light';
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Gilroy Light';
  background-color: $background-color;
}

#__next {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy Light";
  font-weight: 200;
  src: url("/fonts/Gilroy-Light.ttf") format('truetype');
}

@font-face {
  font-family: "Okta Neue Normal";
  font-weight: 400;
  src: url("/fonts/Okta-Neue-Normal.ttf") format('truetype');
}

@font-face {
  font-family: "Okta Neue Bold";
  font-weight: 800;
  src: url("/fonts/Okta-Neue-Bold.ttf") format('truetype');
}