@import '../../styles/colors.scss';

.cast-person-overview {
  width: 100px;

  &__image-container {
    cursor: pointer;
  }

  &__image {
    border-radius: 5px;
  }

  &__name {
    display: block;
    color: $text-color-white;
    font-size: 1em;
    font-family: 'Okta Neue Bold';
  }
}