@import '../../styles/colors.scss';

.search-container {
  position: relative;
  width: 100%;
}

.search {
  padding-left: 1rem;
  background-color: $background-color;
  width: 100%;
  height: 2.5rem;
  border: 1px solid;
  border-radius: 20px;
  color: $primary-text-color;
  font-family: 'Gilroy Light';
  outline: 0;
  font-size: 1em;
  padding-right: 2.5rem;
}

.icon {
  position: absolute;
  top: calc(50% - 10px);
  right: 1rem;
}